/*头部*/
html,body{
	width: 100%;
	height: 100%;
}
header{
	position: relative;
	width: 100%;
}
.header-full{
	height: 100%;
}
.layout{
	width: 100%;
	height: 100%;
	min-width: 300px;
	max-width: 640px;
	margin: 0 auto;
	position: relative;
}
.logo{
	position: fixed;
	width: 100%;
	background: #D6433B url(../img/bg.png);
}
.logo-box{
	width: 100%;
	min-width: 300px;
	height: 40px;
}
.logo-box a{
	color: #fff;
	font-size: 20px;
	line-height: 40px;
	font-family: 'microsoft yahei';
	padding-left: 10px;
}
.logo-box a:hover{
	color:  rgba(0,0,0,.3);
}
.logo-active{
	background: #D6433B url(../img/bg.png);
}
.show-box{
	height: 100%;
	background: #D6433B url(../img/bg.png);
	box-sizing: border-box;
	padding-top: 40px;
	margin-bottom: 50px;
	overflow: hidden;
	transition: height .3s;
}
#welcome{
	width: 100%;
	height: 100%;
	padding: 65px 0;
}
#welcome .row{
	text-align: center;
	padding: 40px 0;
	font-family: 'microsoft yahei';
}
.row.info1{
	font-size: 40px;
	color: #fff;
}
.row.info2{
	font-size: 24px;
	color: #333;
}
/*向上按钮*/
.slide-btn{
	position: fixed;
	top:10px;
	right:10px;
	width: 24px;
	height: 24px;
	transition: top .5s;
}
.slide-down::before,.slide-up::before{
	color: #fff;
	line-height: 24px;	
	position: absolute;
	left:4px;
}
.slide-up::before{
	content:'\e98c';
}
.slide-down::before{
	content:'\e98b';
}
.slide-btn:hover{
	border-color: rgba(0,0,0,.3);
}
.slide-down:hover::before,.slide-up:hover::before{
	color: rgba(0,0,0,.3);
}
/*nav导航*/
#mainNav{
	width: 100%;
	height: 49px;
	border-top: 1px solid #e5e5e5;
	box-shadow: 0 0 20px rgba(0,0,0,.1);
	position: fixed;
	bottom: 0;
	background-color: #fff;
	z-index: 1000;
}
#mainNav li{
	float: left;
	overflow: hidden;
	width: 25%;
	text-align: center;
	font-weight: 700;
}
#mainNav a{
	display: inline-block;
	margin-top:10px;
	font-size: 12px;
	font-weight: 400;
}
#mainNav i{
	display: block;
	margin-bottom: 6px;
}
i.nav-aboutMe::before{
	content:'\e9cd';
}
i.nav-repo::before{
	content:'\e926';
}
i.nav-blog::before{
	content:'\e907';
}
i.nav-search::before{
	content:'\e986';
}
#mainNav a:hover,#mainNav .nav-active{
	color: #D6433B;
}

/*字体*/
[icon]{
	font-family: 'basicfont' !important;
 	speak: none;
  	font-style: normal;
  	font-weight: normal;
  	font-variant: normal;
 	text-transform: none;
  	line-height: 1;
 	-webkit-font-smoothing: antialiased;
 	-moz-osx-font-smoothing: grayscale;
}

section{
	height: 1000px;
}
